.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:before,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:before,
label.btn input[type="radio"].with-gap:checked + label:after {
    border: 2px solid #332d2d;
}

.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:after {
    background-color: #332d2d;
}

/* Change the color of the radio button when it is checked */
.form-check-input[type="radio"]:checked + .form-check-label {
    color: #4285f4;
}

/* Change the color of the radio button when it is not checked */
.form-check-input[type="radio"]:not(:checked) + .form-check-label {
    color: #000000;
}

.isChecked {
    background-color: maroon;
}
