:root {
    --navlink-hover: #f7f7f7;
    --scrollbar-handle: #b3b3b3;
    --scrollbar-handle-hover: #717171;
    --logo-color: #5b86b9;
    --card-background: #191c24;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-handle-hover) var(--scrollbar-handle);
}

.nav-parent,
#navbarSupportedContent2 {
    max-height: 300px;
}
#navbarSupportedContent2 {
    overflow-y: scroll;
}
.nav .nav-link {
    background-color: white;
}
.nav .nav-link:hover {
    background-color: var(--navlink-hover);
}
.card-banner {
    background-color: var(--card-background);
}
.categoryContainer {
    background-color: var(--card-background);
}
