:root {
    --dark-background: #191c24;
    --dark-background-v2: #242937;
    --dark-background-2: #353b4d;
}
body {
    background-color: var(--dark-background-v2);
}

footer {
    background-color: var(--dark-background-2);
}
