:root {
    --dark-background: #2a3038;
    --text-color: #6b7293;
}

div.dataTables_length select,
li.paginate_button.page-item > a {
    color: white !important;
}
li.paginate_button.page-item > a,
li.paginate_button.page-item.disabled > a {
    background-color: transparent;
    border: none;
}
li.paginate_button.page-item.disabled > a {
    color: #505a60 !important;
}
li.paginate_button.page-item.active > a {
    background-color: #424549;
    border-radius: 10%;
}
li.paginate_button.page-item > a:active,
li.paginate_button.page-item > a:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}
#myTable_filter > label > input {
    color: white;
}
#myTable {
    color: white;
}
.table-hover tbody tr:hover td {
    color: #0090e7 !important;
}

#exampleModal .modal-content {
    border-radius: 20px;
}

.modal-header,
.modal-footer {
    border: none;
}

.select2 {
    width: 100% !important;
}

.select2-results__option[aria-selected="true"],
.select2-selection__rendered {
    color: white !important;
}

.select2-dropdown,
.select2-selection,
.select2-results {
    background-color: var(--dark-background) !important;
    color: white !important;
}
.select2-selection__placeholder,
.select2-default {
    color: var(--text-color) !important;
}

.mdi-calendar.input-group-text {
    display: flex;
    height: 100%;
}

.dark-background {
    background-color: var(--dark-background);
    border-color: var(--dark-background);
}

.bg-lighter {
    background-color: var(--text-color);
}
